@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --black: #090909;
  --dark: #2d2d34;
  --white: #fefafa;
  --ruby: #e40066;
  --orange: #ff9f1c;
  --montserrat: "Montserrat", sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(./workout.jpg);
  background-size: cover;
  color: var(--white);
  font-family: var(--montserrat);
}

.header {
  text-align: center;
  margin: 3rem 0 5rem;
}

main .container {
  display: flex;
  backdrop-filter: blur(12px);
  padding: 2rem;
  width: 60%;
  border-radius: 20px;
  box-shadow: 5px 5px 50px 3px #090909;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

main .container > * {
  flex: 2;
}

.hi-label,
.count-btn {
  margin-top: 2rem;
}

.count-btn {
  background-color: var(--black);
  width: fit-content;
  border-radius: 5px;
  color: var(--white);
  border: none;
  padding: 0.5rem;
  transition: all 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.count-btn:hover {
  background-color: var(--orange);
  color: var(--black);
}

.count-btn:active {
  transform: translateY(7px);
  -webkit-transform: translateY(7px);
  -moz-transform: translateY(7px);
  -ms-transform: translateY(7px);
  -o-transform: translateY(7px);
}

input {
  border-radius: 5px;
  border-color: transparent;
  text-align: center;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

input:focus {
  outline: none;
}

.index,
.status {
  margin-bottom: 2rem;
}

.result-section h3 {
  margin-top: -1rem;
  text-align: start;
}

footer {
  text-align: center;
  font-size: 0.8rem;
}

footer p {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  padding: 0 5rem;
}
